{% include '/header.html' %}
<body>
<div class="container-fluid">
    <main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Sue del Sol</h1>
      <p class="lead fw-normal">Cremas de licor de caña y frutos exoticos</p>
      <a class="btn btn-outline-secondary" href="#">Proximamente</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
      <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Cremas a la Colombiana</h2>
        <p class="lead">Nuestras cremas estan hechas con productos 100% Colombianos, desde su concepción, Sue del Sol ha
          buscado apoyar a nuestro pais y su biodiversidad, ofreciendo, cremas a base de cafe, licor de caña de azucar
        y frutas de nuestra amazonia Colombiana. Disfruta de una explosión de sabores tan unicos como Colombia</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
        <div class="row">
            <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="col text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Crema de Copoazu</h2>
        <p class="lead">Disfruta de una sabor suave y dulce, perfecto para los paladares más selectos </p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="col bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Crema de Arazá</h2>
        <p class="lead">Disfruta de un sabor ácido y exotico, recomendado para quienes buscan un sabor más fuerte de lo habitual</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>
        </div>

</main>


</div>

{% include '/footer.html' %}
</body>
